<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.datetime_select :deadline, :minute_step => 10 %>
  </div>

  <div class="field">
    <%= f.label :work_time %>
    <%= f.number_field :work_time %>時間
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_area :state %>
  </div>

  <div class="field">
    <%= f.label :implementation_scheduled_date %>
    <%= f.date_select :implementation_scheduled_date %>
  </div>

  <div class="field">
    <%= f.label :complete_scheduled_date %>
    <%= f.date_select :complete_scheduled_date %>
  </div>

  <div class="field">
    <%= f.label :priority %>
    <%= f.collection_select :priority_id, Priority.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
