<p id="notice"><%= notice %></p>

<p>
  <strong>タスク名</strong>
  <%= @task.name %>
</p>

<p>
  <strong>期日</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>優先度</strong>
  <%= @task.priority.name %>
</p>

<p>
  <strong>作業時間/日</strong>
  <%= @task.work_time %>
</p>

<p>
  <strong>状態:</strong>
  <%= @task.state %>
</p>

<p>
  <strong>実施予定日</strong>
  <%= @task.implementation_scheduled_date %>
</p>

<p>
  <strong>完了日</strong>
  <%= @task.complete_scheduled_date %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
