<p id="notice"><%= notice %></p>

<h1>分類一覧</h1>

<%= form_for(@section) do |f| %>
    <% if @section.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

          <ul>
            <% @section.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<table>
  <thead>
    <tr>
      <th>分類名称</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.name %></td>
        <td><%= link_to '編集', edit_section_path(section) %></td>
        <td><%= link_to '削除', section, method: :delete, data: { confirm: '削除してもよろしいでしょうか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_section_path %>
