<p id="notice"><%= notice %></p>

<div class="container">
  <h1>News</h1>

  <%= form_for(@news) do |f| %>
      <div class="form-group">
        <% if @news.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

              <ul>
                <% @news.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :url %>
          <%= f.text_field :url, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :section %>
          <%= f.collection_select :section_id, Section.all, :id, :name, {prompt: true}, {class: 'form-control input-width200'} %>
        </div>

        <div class="actions">
          <%= f.submit('登録する', class: 'btn btn-primary') %>
        </div>
      </div>
  <% end %>


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Url</th>
        <th>分類</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @all_news.each do |news| %>
        <tr>
          <td><%= news.url %></td>
          <td><%= news.section.name %></td>
          <td><%= link_to '編集', news_index_path(id: news.id), class: 'btn btn-primary' %></td>
          <td><%= link_to '削除', news, method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '新規登録', news_index_path, class: 'btn btn-primary' %>
</div>