<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong>書籍名</strong>
    <%= @book.name %>
  </p>

  <p>
    <strong>Url</strong>
    <%= @book.url %>
  </p>

  <p>
    <strong>既読ページ数</strong>
    <%= @book.readed_page %>
  </p>

  <%= link_to '編集', edit_book_path(@book), class: 'btn btn-primary' %>
  <%= link_to '戻る', books_path, class: 'btn btn-secondary' %>
</div>